<h1>Add User</h1>
<form action="/add", method="POST">
    Phone: <input type="number" name="phone"><br>
    Password: <input type="text" name="password" ><br>
    TypeRegister: <input type="text" name="typeRegister"><br>
    TokenLogin: <input type="text" name="tokenLogin"><br>
    DeviceID: <input type="text" name="deviceID"><br>
    FcmTokens: <input type="text" name="fcmTokens"><br>
    <button type="SUBMIT"> add </button>
</form>
